@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* @import header font; */

@layer components {
  body {
    overflow-x: hidden;
    background-color: #111827;
  }

  .colors {
    transition-delay: color 0.5s;
  }

  .is-loading {
    pointer-events: none;
    overflow: hidden;
  }
}
